* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
}

.container {
    width: 100%;
}
        /* Coeur + Hover */

.fa-heart {
    color: transparent;
    font-size: 1.7em;   
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
    &:hover, &:active {
        animation: opacity 800ms;
        -webkit-text-stroke: 0px;
        background-image: linear-gradient(to top right , $color-secondary, $color-primary);
    }
}

        /* Footer */

.footer {
    padding: 30px 20px;
    background-color: rgb(53, 53, 53);
    color: white;
    &_title {
        margin: 0px;
        font-family: "shrikhand", sans-serif;
        font-weight: lighter;
        font-size: 1.3em;
        &-i2 {
            font-size: 0.8em;
            margin-right: 7px;
        }
        &-i1 {
            margin-right: 10px;
        }
    }
    ul {
        padding: 0px;
    }
    li {
        list-style: none;
        margin: 10px 0px;
    }
    a {
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media all and (min-width: 750px) {
    .footer {
        text-align: center;
        font-size: 1.2em;
    }
}
@media all and (min-width: 1020px) {
    .footer {
        font-size: 1.4em;
    }
}