/* Header */

header {
    text-align: center;
    padding: 10px;
    .logo {
        height: 40px;
    }
}

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: inset 0px 15px 5px -15px gray;
    i {
        margin-right: 3%;
    }
}

/* Information */

.information {
    background-color: $color-background;
    text-align: center;
    div {
        padding: 50px 20px;
    }
    H1 {
        font-size: 1.8em;
        font-weight: 900;
        padding: 0px 20px;
        margin-top: 0px;
    }
    p {
        font-size: 1.3em;
        font-weight: lighter;
    }
    .btn {
        font-size: 1.1em;
        color: white;
        padding: 20px 25px;
        border-radius: 40px;
        border: none;
        background: $color-gradient;
        margin-bottom: 10px;
        box-shadow: 0px 5px 5px 0px lightgray;
        cursor: pointer;
        transition: all 500ms;
        &:hover {
            opacity: 0.8;
            box-shadow: 0px 5px 5px 5px lightgray;
        }
        &:focus {
            outline: none;
        }
    } 
}

/* Fonctionnement */

.fonctionnement {
    padding: 40px 20px 50px 20px;
    H2 {
        font-size: 1.7em;
        font-weight: 900;
        margin-top: 0px;
    }
}

.step {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    &_list {
        position: relative;
        background-color: $color-background;
        display: flex;
        align-items: center;
        border-radius: 25px;
        box-shadow: 0px 3px 15px 2px lightgray;
        padding: 10px 15px 10px 30px;
        cursor: pointer;
        &:hover, &:active {
            background-color: rgb(247, 235, 255);
            
        }
        &-float {
            color: white;
            background-color: $color-primary;
            padding: 5px 10px;
            margin: 0px 0px 0px -15px;
            border-radius: 30px;
            font-size: 0.9em;
            position: absolute;
            left: 0px;
        }
        i {
            opacity: 0.5;
            text-align: center;
            width: 10%;
            margin-right: 20px;
        }
        .fa-mobile-alt {
            font-size: 1.6em;
        }
        .fa-list-ul {
            font-size: 1.4em;
        }
        .fa-store {
            font-size: 1.3em;
        }
        &-text {
            font-size: 1.1em;
            font-weight: 700;
        }
    }
}

/* Restaurants */

.restaurants {
    background-color: $color-background;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    &--height {
        height: 280px;
        margin-bottom: 20px;
    }
    &_title {
        font-size: 1.7em;
        font-weight: 900;
    }
}

.choice {
    width: 100%;
    text-decoration: none;
    color: black;
    &_img {
        position: relative;
        height: 72%;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;    
            border-radius: 20px 20px 0px 0px;
        }
        &-center {
            object-position: 50% 60%;
        }
        &-new {
            position: absolute;
            top: 0%;
            right: 5%;
            background-color: $color-tertiary;
            color: rgb(0, 135, 102);
            padding: 7px 12px;
            border-radius: 2px;
            font-weight: 700;
        }
    }
    &_info {
        height: 28%;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-radius: 0px 0px 20px 20px;
        H3 {
            margin: 0px 0px 0px 10px;
            font-weight: 900;
        }
        p {
            margin: 5px 10px;
            font-weight: 300;
        }
        &--text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &--i {
            display: flex;
            align-self: center;
            margin-right: 20px;
        }
    }
}

        /* CSS Tablette */

@media all and (min-width: 750px) {

    .step {
        width: 50%;
    }

    .fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .restaurants {
        &_flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &_title {
            text-align: center;
        }
        &--height {
            width: 48%;
            margin-bottom: 30px;
        }
    }
}

        /* CSS Desktop */

@media all and (min-width: 1020px) {

    .step {
        flex-direction: row;
        width: 100%;
        height: 100%;
        &_list {
            width: 30%;
        }
    }

    .localisation {
        font-size: 1.3em;
    }

    .restaurants {
        &_title {
            margin-top: 0px;
            font-size: 1.8em;
        }
        &--height {
            height: 400px;
        }
    }

    .choice {
        &_img {
            height: 80%;
        }
        &_info {
            height: 20%;
        }
    }
}

@media all and (min-width: 1250px) {

    .restaurants, .fonctionnement {
        padding: 30px 100px;
    }
}