/* Header Menu */

.header {
    position: relative;
    display: flex;
    justify-content: center;
    &_arrow {
        position: absolute;
        font-size: 1.3em;
        left: 0%;
        top: 5%;  
        padding: 15px 20px;
        text-decoration: none;
        color: black;
    }
    &_logo {
        height: 40px;
    }
}

.main {
    background-color: $color-background;
    padding: 0px 20px 20px 20px;
}

/* Background Menu */ 

.background {
    position: relative;
    &_img {
        height: 320px;
        &-size {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &_title {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: $color-background;
        bottom: 0%;
        padding: 25px 30px 0px 25px;
        border-radius: 35px 35px 0px 0px;
        h1 {
            font-family: "shrikhand", sans-serif;
            margin: 0px;
            font-weight: 500;
            font-size: 1.8em;
        }
        i {
            align-self: center;
            font-size: 1.5em;
            margin-right: 10px;
        }
    }
}

/* Menu */

.menu {
    &_block {
        margin-top: 20px;
    }
    &_title {
        position: relative;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-top: 0px;
        margin-left: 5px;
        padding-top: 20px;
        &:after {
            position: absolute;
            top: 110%;
            left: 0;
            content: '';
            width: 50px;
            height: 3px;
            background-color: $color-tertiary;
         }
    }
    &_list {
        background-color: white;
        display: flex;
        justify-content: space-between;
        margin: 15px 0px 15px 0px;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 0px 3px 15px 0px lightgrey;
        &-price {
            align-self: flex-end;
            font-weight: 900;
            margin: 0px 15px 0px 0px;
        }
        &-text {
            p {
                font-size: 0.95em;
                font-weight: 300;
                margin: 5px 0px 0px 0px;
            }
            h3 {
                font-size: 1.1em;
                margin: 0px;
            }
        }
    }
}

/* Bouton Menu */ 

.bottom {
    display: flex;
    justify-content: center;
    background-color: $color-background;
    &_btn{
        font-size: 1em;
        color: white;
        padding: 18px 50px;
        margin: 30px 0px 80px 0px;
        border-radius: 40px;
        border: none;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        box-shadow: 0px 5px 5px 2px lightgray;
        cursor: pointer;
    }
}

        /* CSS Tablette */

@media all and (min-width: 750px) {
    
    .background {
        &_img  {
            height: 400px;
            &-size {
                object-position: 50% 70%;
            }
        }
        &_title {
            padding: 25px 50px 0px 50px;
        }
        i {
            font-size: 1.8em;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        &_block {
            width: 75%;
        }
    }
}

        /* CSS Desktop */

@media all and (min-width: 1020px) {

    .header_arrow {
        padding: 10px 30px 15px 30px;
        font-size: 1.5em;
    }

    .background {
        &_img  {
            height: 500px;
        }
        &_title {
            font-size: 1.3em;
        }
    }

    .main {
        display: flex;
        padding: 0px 30px 20px 30px;
    }
    .menu{
        &_block {
            width: 95%;
        }
        &_list-text {
            overflow: hidden;
        }
        h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            & + p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}