/* Header Menu */

.header {
    position: relative;
    &_arrow {
        position: absolute;
        font-size: 1.3em;
        left: 0%;
        top: 0%;
        padding: 15px 20px;
        text-decoration: none;
        color: black;
    }
    &_logo {
        width: 50%;
    }
}
