.spinner {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, $color-tertiary, $color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: end 0s 3s forwards;
  }
  
  .dot > div {
    width: 25px;
    height: 25px;
    margin: 10px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    animation: dotblinck 1s infinite;
  }
  
  .dot .bounce1 {
    animation-delay: -0.3s;
  }
  
  .dot .bounce2 {
    animation-delay: -0.15s;
  }
  
  @keyframes dotblinck {
    0%, 80%, 100% { 
      transform: scale(0);
    } 40% { 
      transform: scale(1.0);
    }
  }
  
  @keyframes end {
    0% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
  
  .name {
    display: flex;
    &_letter {
      font-size: 3em;
      font-weight: 500;
      font-family: "shrikhand", sans-serif;
      color: white;
      animation: logo 1s;
      text-shadow: 5px 5px 4px rgb(51, 51, 51)
    }
    :nth-child(2) {
      animation-delay: 0.5s;
    }
    :nth-child(3) {
      animation-delay: 1s;
    }
  }
  
  @keyframes logo {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
      margin: 30px;
    }
    100% {
      transform: scale(1);
    }
  }